<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="justify-between items-center">
      <p>{{ title }}</p>
      <button mat-mini-fab color="primary" (click)="buttonClick()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <ng-container *ngIf="resources$ | async as resources">
        <div *ngFor="let resource of resources">
          <div class="border border-l-8">
            <a mat-list-item
              [routerLink]="[resource.id]"
              (click)="rowClick(resource)"
            >{{ resource.name }}</a>
          </div>
        </div>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div *ngIf="account$ | async as account" class="w-full">
        <div class="flex justify-between items-center gap-3">
          <p class="flex-grow">I'm {{ account.name }}</p>
          <button mat-flat-button color="accent">Online</button>
          <button mat-flat-button color="accent">Offline</button>
          <button mat-flat-button color="warn" (click)="logout()">Log out</button>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
