<section class="p-5 max-w-md mx-auto">
  <mat-card>
    <mat-card-header>
      <h1 class="text-2xl font-bold">Welcome!</h1>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        
        <mat-form-field class="w-full my-3">
            <mat-label>E-mail</mat-label>
            <input matInput required type="email" formControlName="credential">
            <mat-error *ngIf="getError('credential', 'required')">Required field</mat-error>
            <mat-error *ngIf="getError('credential', 'pattern')">Invalid email</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" class="mr-3">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="getError('password', 'required')">Required field</mat-error>
        </mat-form-field>

        <button mat-flat-button color="primary" class="w-full" [disabled]="signinForm.invalid">Sign in</button>
      </form>
    </mat-card-content>
  </mat-card>
</section>